# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tuckseawirhrlvzohkyh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_MzFR2mhePaeNl0n9bFGcQQ_Dd0-nv0z
SUPABASE_SERVICE_ROLE_KEY=sb_secret_liwXexWaWxEt2DJlgiHWiQ_4XS5pPlh

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
